<section id="edit-course" class="container famil">
  <div class="row">
    <div class="col-xl-6">
      <%= render "form" , course: @course %>
    </div> <!-- col-xl-6 -->
  </div> <!-- row -->
</section>